<html>
<head>
    <title>App Usage Analytics</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/fusioncharts.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='javascript/fusioncharts.theme.fint.js') }}"></script>


    <style>
        .navbar-login
        {
            width: 305px;
            padding: 10px;
            padding-bottom: 0px;
        }

        .navbar-login-session
        {
            padding: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .icon-size
        {
            font-size: 87px;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">App Usage Analytics</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>Logged in as Admin : {{user}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h3>Hello Admin {{ user }}</h3>
</div>

<div class="container">
    <h2>Analysis of Applications by Usage Duration</h2>

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#appStats">App Stats</a></li>
        <li><a data-toggle="pill" href="#mostUsed">Most Used App</a></li>
        <li><a data-toggle="pill" href="#leastUsed">Least Used App</a></li>
    </ul>

    <div class="tab-content">
        <div id="appStats" class="tab-pane fade in active">
            <h3>Stats</h3>
            <table class="table table-striped table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>User ID</th>
                  <th>App </th>
                  <th>Usage duration</th>
                </tr>
              </thead>
              <tbody>
              {% for i in range(tableData|count) %}
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{ tableData[i]['user'] }}</td>
                        <td>{{ tableData[i]['app_name'] }}</td>
                        <td>{{ tableData[i]['time'] }}</td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <div id="mostUsed" class="tab-pane fade">
            <h3>Most used app : </h3>
            <h4>{{maxUsed['label']}} - {{maxUsed['value']}} seconds</h4>
        </div>

        <div id="leastUsed" class="tab-pane fade">
            <h3>Least used app : </h3>
            <h4>{{leastUsed['label']}} - {{leastUsed['value']}} seconds</h4>
        </div>



    </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
<br >
<br >
<br >
</body>
</html>